<footer class="footer">
  <nav class="footer__buttom-container">
    <a href="#header" class="footer__buttom"></a>
  </nav>
  <div class="footer__container">
    <nav class="footer__links-blog">
      <ul class="footer__list">
        <li><a class="footer__links" href="https://adalab.es/">Articles</a></li>
        <li><a class="footer__links" href="https://adalab.es/">Books</a></li>
        <li><a class="footer__links" href="https://adalab.es/">Events</a></li>
        <li><a class="footer__links" href="https://adalab.es/">Reasons</a></li>
        <li><a class="footer__links" href="https://adalab.es/">Tips</a></li>
      </ul>
    </nav>
    <nav class="footer__links-blog">
      <ul class="footer__list">
        <li><a class="footer__links" href="https://adalab.es/">Twitter</a></li>
        <li>
          <a class="footer__links" href="https://adalab.es/">Instagram</a>
        </li>
        <li>
          <a class="footer__links" href="https://adalab.es/">Mastodon.social</a>
        </li>
      </ul>
    </nav>
    <section class="footer__small">
      <small class="footer__copy">&copy;2021</small>
      <small class="footer__copy">we 🧡 components</small>
    </section>
  </div>
</footer>
