<footer class="footer">
  <nav class="footer__button-container">
    <a href="" class="footer__button"></a>
  </nav>
  <nav class="footer__links-blog">
    <ul class="footer__list">
      <li><a class="footer__links" href="">Articles</a></li>
      <li><a class="footer__links" href="">Books</a></li>
      <li><a class="footer__links" href="">Events</a></li>
      <li><a class="footer__links" href="">Reasons</a></li>
      <li><a class="footer__links" href="">Tips</a></li>
    </ul>
  </nav>
  <nav class="footer__links-blog">
    <ul class="footer__list">
      <li><a class="footer__links" href="">Twitter</a></li>
      <li><a class="footer__links" href="">Instagram</a></li>
      <li><a class="footer__links" href="">Mastodon.social</a></li>
    </ul>
  </nav>
  <section class="footer__small">
    <small class="footer__copy">&copy;2021</small>
    <small class="footer__copy">we 🧡 components</small>
  </section>
</footer>
