<main>
  <article class="article1">
    <small class="article1__small">Insonmia tips</small>
    <h2 class="article1__title">Looking through a window</h2>
    <p class="article1__paragraph">
      Donec accumsan, nulla ut volutpat porttitor, quan odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a class="article1__button" href="https://adalab.es/">Go</a>
  </article>
  <article class="article2" id="article2">
    <h2 class="article2__title">3 reason to purchase</h2>
    <article class="article2__reason1">
      <h3 class="article2__subtitle">Ut sed metus</h3>
      <p class="article2-text">Lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <article class="article2__reason2">
      <h3 class="article2__subtitle">Curabitur ac erat</h3>
      <p class="article2-text">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="article2__reason3">
      <h3 class="article2__subtitle">Morbi dictum</h3>
      <p class="article2-text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <a class="article2__buttom" href="https://adalab.es/"> More reasons</a>
  </article>
</main>
