.hero {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0.10407913165266103) 25%
    ),
    url(../images/cover.jpg) no-repeat center;
  height: 100vh;
  background-size: cover;
  color: $color-white;
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 51vh;
  }
  &__title {
    text-transform: uppercase;
    word-spacing: 100rem;
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
  }
  &__arrow-container {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc(50% - 22.5px);
    transform: translate(0, 45px);
  }
  &__arrow {
    background: url(../images/ico-scroll-down.svg) no-repeat;
    width: 20px;
    height: 11.7px;
    display: flex;
  }
}
